<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="[${uppercase:${level}} ${time}] ${logger} ${message} ${exception:format=toString}">
      <highlight-row condition="level == LogLevel.Debug" backgroundColor="NoChange" foregroundColor="Green"/>
    </target>
  </targets>
  <rules>
    <logger name="Buzzer.*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>